/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: gray;
}

section {
}

#left {
  float: left;
  width: 33%;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
  background: #666
}

#middle {
  float: left;
  padding: 20px;
  width: 33%;
  margin-bottom: 20px;
  color: white;
  background: #888
}

#right {
  float: left;
  width: 33%;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
  background: #666
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

#full {
  background-color: #eee;
  width: 100%;
  overflow: auto;
  clear: both;
}

#division { 
  background-color: #6ea3da;
  padding: 20px;
  margin-top: 100px;
}

aside {
  background-color: #fff;
  float: left;
  width: 25%;
  height: 200px;
  padding: 20px;
  margin: 40px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #333;
  background: gray;
}
